# ─────────────────────────────────────────────────────────────
# 🚀 Backend Production / Publishing URL (uesing whene publish in Railway / Vercel)
# ─────────────────────────────────────────────────────────────
NEXT_PUBLIC_API_PUBLISH_URL

# ─────────────────────────────────────────────────────────────
# 🛠️ Backend Local Development URL 
# ─────────────────────────────────────────────────────────────
NEXT_PUBLIC_API_DEV_URL


# ─────────────────────────────────────────────────────────────
# 🔄️ Default active  URL (It's selecting it automatically. )
# ─────────────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL

# ─────────────────────────────────────────────────────────────
# Define Kind the process. 
# ─────────────────────────────────────────────────────────────
NODE_ENV